{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">

    <div class="col-md-8 mr-5">
      <h1 class="mt-5">Commentaire 😁</h1>
      <form>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit 🔐</button>
      </form>
    </div>

    <div class="col-md-4" style="margin-top: 100px;">
      <img src="{% static 'img/linphone.png' %}" class="img-fluid" alt="..." style="width: 400px; height: 400px;">
    </div>

  </div>
</div>


{% endblock %}