
  <!-- Navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-2">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand text-info" href="{% url 'home' %}" style="font-size: 26px; margin-left: 40px;"><strong><i class="fa fa-info fa-lg"></i>blog</strong> </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard1' %}">Admin</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <!-- Navbar dropdown -->
        </ul>
        <!-- Left links -->
        {% if user.is_authenticated %}
        <a href="{% url 'logout1' %}" class="btn btn-danger me-3">Déconnexion <i class="fas fa-sign-out-alt fa-lg"></i></a>
        {% else %}
        <a href="{% url 'login-hotel1' %}" class="btn btn-info me-3">Connexion <i class="fas fa-sign-in-alt fa-lg"></i></a>
        {% endif %}

        <span class="vertical-line me-3"></span>
        <!-- Search form -->
        <form class="d-flex input-group w-auto" action="{% url 'search' %}" style="margin-right: 40px;">
          <input
            name="hotel"
            type="search"
            class="form-control"
            placeholder="Recherche Hotel"
            aria-label="Search"
            style="width: 400px;"
          />
          <span class="input-group-text border-0 d-none d-lg-flex"
          ><i class="fas fa-search"></i
        ></span>
        </form>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

