{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start your project here-->
<h2 class="text-center mt-4">Bienvenue sur Iblog</h2>
<h6 class="text-center mb-4">C'est une plate-forme de recherche de toute les types et catégories d'hotel à Madagascar</h6>
<div class="container">
  <div class="row">
    {% for hotel in liste_hotels %}
    <div class="col-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card mb-5 p-2" style="background-color: rgba(0, 0, 0, 0.045);" >
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

          {% if hotel.image == "http://default" %}
            <a href="{% url 'detail' hotel.id %}">
              <img src="{% static 'img/casa.jpg' %}" class="img-fluid" style="height: 200px; width: 320px;"/>
            </a>
          {% else %}
            <a href="{% url 'detail' hotel.id %}">
              <img src="{{ hotel.image.url }}" class="img-fluid" style="height: 200px; width: 320px;" />
            </a>
          {% endif %}

        </div>
        <div class="card-body">
          <h5 class="card-title"> <a href="{% url 'detail' hotel.id %}" class="text-info"> {{ hotel.title }} </a>
          </h5>
          <p class="card-text"> {{ hotel.desc|truncatewords:8 }} </p>
          <p class="card-text" style="font-size: 12px;"> Publier il y a {{ hotel.created_at|timesince }} </p>
          <a href="{% url 'detail' hotel.id %}" class="btn btn-light" style="font-size: 13px;">Plus d'Infos <i class="fa fa-hand-point-right fa-lg text-info fa-flip-horizontal"></i></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}